<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="row" style="height: 100%; width: 100%;">
    <div id="image"
    class="col"
    style="background-size:cover;
           background-repeat: no-repeat;
           max-width: 100%;
           height: 100vh;
           "
    [ngStyle]="{'background-image': !isLogin ? '' : 'url('+backgorundimg_alles+')',
                'opacity': !isLogin ? '' : '100%',
                'background-position': !isLogin ? '' : 'right bottom;'}"
    >
  </div>
  <div class="col area"
  style="position: absolute;
         opacity: 100%;
         ">
  <app-navbar></app-navbar>
         <br>
  <router-outlet></router-outlet>
  </div>
  </div>
</body>
</html>

